.work {
  background-color: $work-bg-color;
  padding: 112px 0 100px;

  .video iframe {
    display: block;
    margin: 0 auto;
  }

  &__container {
    @include container;
    margin-bottom: 57px;
  }

  &-header__title {
    @include title;
  }

  &-header__text {
    @include text;
  }

  @include xxl {
    &-video {
      max-width: 2000px;
    }

    .video iframe {
      width: 700px;
      height: 500px;
    }
  }

  @include desktop {
    padding: 75px 0;

    &__text {
      height: unset;
    }

    .video iframe {
      width: 500px;
      height: 300px;
    }

    &-video {
      min-width: 1000px;
    }
  }

  @include tablet-landscape {
    &__container {
      max-width: $width-tablet-landscape;
    }

    .video {
      max-width: 700px;
      height: 380px;
    }

    &-video {
      min-width: $width-tablet-landscape;
    }
  }

  @include tablet {
    &__container {
      max-width: $width-tablet;
    }

    &-video {
      min-width: $width-tablet;
    }

    .video iframe {
      min-width: 400px;
      height: 300px;
    }
  }

  @include mobile {
    &__container {
      max-width: $width-mobile;
    }

    &__title {
      margin-bottom: 20px;
      font-size: 1.75rem;
    }

    .work-video iframe {
      min-width: 200px;
      height: 100px;
    }

    &-video {
      min-width: $width-mobile;
    }
  }
}
